@import "tailwindcss";

@theme {
  --color-primary: #021024;
  --color-secondary: #052659;
  --color-accent: #5483B3;
  --color-sky: #7DA0CA;
  --color-light-blue: #C1E8FF;
  --color-submitProject: #042648;
  --color-dashboard: #011b3c;

  --color-vanilla-custard: #FFF9EB;
  --color-misty-sage: #9FB2AC;
  --color-bloodstone: #5D0D18;

  --color-oxford-blue: #002147;
  --color-tan: #D2B48C;

  --color-cream: #F8F0E5;
  --color-dark-navy: #082052;
  --color-sky-blue: #c0e8ff;
  --color-featuredProject: #5d686e;
  --color-MydarkGreen: #2c4d56;

  --color-formTeam: #172762;
  --color-formTeamForm: #011d3e;
  --color-collab: #d0e6fd;
  --color-submit: #f1e4d1;
  --color-myLeaderboard:#05152a;
}

html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}

@layer components {
    .section {
        @apply py-12 px-10 text-center;
    }
    .heading {
        @apply text-3xl font-semibold text-center;
    }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scrollProjects {
  from { transform: translateX(0);}
  to {  transform: translateX(-50%);}
}
.animate-scroll {
  animation: scrollProjects 60s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
}