@import "tailwindcss";

@layer components {
    .section {
        @apply py-12 px-10 text-center;
    }
    .heading {
        @apply text-3xl font-semibold text-center;
    }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
